<%- include("../_layouts/adminheader") %>

<h2 class="page-title text-warning letter" style="margin-top: 5%;">Edit a product</h2>
<a href="/admin/products" class="btn btn-primary letterB">Back to all products</a>
<br><br>

<form method="post" action="/admin/products/edit-product/<%= id %>" enctype="multipart/form-data">

    <div class="form-group">
        <label for="" class="text-warning letter2">Title</label>
        <input type="text" class="form-control letter2" name="title" value="<%= title %>" placeholder="Title">
    </div>

    <div class="form-group">
        <label for="" class="text-warning letter2">Description</label>
        <textarea name="desc" class="form-control letter2" cols="30" rows="10" placeholder="Description"><%= desc %></textarea>
    </div>

    <div class="form-group">
        <label for="" class="text-warning letter2">Category</label>
        <select name="category" class="form-control letterB">
            <% categories.forEach(function(cat) { %>
                <option value="<%= cat.slug %>"><%= cat.title %></option>
            <% }) %>
        </select>
    </div>

    <div class="form-group">
        <label for="" class="text-warning letter2">Price</label>
        <input type="text" class="form-control letter2" name="price" value="<%= price %>" placeholder="Price">
    </div>

    <div class="form-group">
        <label for="" class="text-warning letter2">Current Image</label>
        <p>
            <% if (image == "") { %>
            <img id="noimage" class="card" src="/images/noimage.png" alt="">
            <% } else {%>
            <img id="noimage" class="card" src="/product_images/<%= id %>/<%= image %>" alt="">
            <% } %>
        </p>
    </div>
    
    <div class="form-group">
        <label for="" class="text-warning letter2">Upload Image</label>
        <input type="file" class="form-control" name="image" id="img">
        <img src="#" id="imgPreview" alt="">
    </div>
    
    <input type="hidden" name="pimage" value="<%= image %>">
    <button class="btn btn-success">Submit</button>

</form>

<hr>
<h3 class="page-header text-warning letter">Gallery</h3>

<ul class="gallery">
    <% galleryImages.forEach((image) =>{ %>
    <% if (image != "thumbs") { %>
    <li>
        <img class="card" src="/product_images/<%= id %>/gallery/thumbs/<%= image %>" alt="">&nbsp;
        <a class="confirmDeletion" href="/admin/products/delete-image/<%= image %>?id=<%= id %>">Delete</a>
    </li>
    <% } %>
   <%  }) %>
</ul>

<br><br>
<form action="admin/products/product-gallery/<%= id %>" method="POST" enctype="multipart/form-data"
    class="dropzone card" id="dropzoneForm">
    <div class="fallback">
        <input type="file" name="file" multiple>
        <input type="submit" value="Upload">
    </div>
</form>

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/dropzone/5.1.1/basic.css"/>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/dropzone/5.1.1/dropzone.css"/>
<script src="https://cdnjs.cloudflare.com/ajax/libs/dropzone/5.1.1/dropzone.js"></script>

<script>

    function readURL(input) {
        if (input.files && input.files[0]) {
            var reader = new FileReader();

            reader.onload = function(e) {
                $("#imgPreview").attr('src', e.target.result).width(100).height(100);
            }

            reader.readAsDataURL(input.files[0]);
        }
    }

    $("#img").chage(function(){
        readURL(this);
    })

    Dropzone.options.dropzoneForm = {
        acceptedFiles: "image/*",
        init: function() {
            this.on("queuecomplete", function(file){
                setTimeout(function() {
                    location.reload()                    
                }, 1000);
            })
        }
    }
</script>

<%- include("../_layouts/adminfooter") %>