<%- include("../_layouts/adminheader") %>
<br><br>
<h2 class="page-title text-warning letter">Pages</h2>
<a href="/admin/pages/add-page" class="vd text-primary letter2"><i class='bx bxs-duplicate'></i> Add new page</a>
<br><br>

<table class="table table-striped sorting">

    <thead>
        <tr class="home">
            <th class="letter2">Title</th>
            <th class="letter2">Edit</th>
            <th class="letter2">Delete</th>
        </tr>
    </thead>
    <tbody>
        <% pages.forEach(function(page){ %>
            <tr id="id_<%= page._id %>" class="<%= page.slug %>">
                <td class="letter2"><%= page.title %></td>
                <td><a class="btn btn-primary btn-sm" href="/admin/pages/edit-page/<%= page._id %>"><i class='bx bxs-pencil' ></i> Edit</a></td>
                <% if (page.slug == "home") { %>
                    <td></td>
                <% } else { %>
                    <td><a class="confirmDelete btn btn-danger btn-sm" href="/admin/pages/delete-page/<%= page._id %>"><i class='bx bxs-trash-alt'></i> Delete</a></td>
                <% } %>               
            </tr>
      <%  }) %>
    </tbody>
</table>

        <script src="/js/jquery-ui-1.10.4.min.js"></script>
        <script>

            $('tbody').sortable({

                items: "tr:not('.home')",
                placeholder: "ui-state-hightlight",
                update: function() {
                    var ids = $('tbody').sortable("serializable");
                    var url = "/admin/pages/reorder-page";

                    $.post(url, ids);
                }
            })

        </script>

<%- include("../_layouts/adminfooter") %>